*{
  box-sizing: border-box;

}
body{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
  padding: 10px;
}

.item{
  display: inline-block;
 width: 100px;
  padding: 0;
  background-color: darksalmon;
  position: relative;
}

.sub-list{
  display: none;
  position: absolute;
  width: inherit;
transition: all 1s ease;
padding: 0;
 
}

.item:hover .sub-list{
  display: block;
  background-color: inherit;



}